<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <softmaintenance>
            <general>
                <enable>0</enable>
                <display_text>This shop is under maintenance mode, some functionality is disabled.</display_text>
            </general>
        </softmaintenance>
    </default>
</config>